/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a202c; /* Fondo oscuro */
    color: #f7fafc; /* Texto claro */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    font-family: 'Lemon';
    background-color: #2d3748; /* Fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; /* Ancho máximo para pantallas grandes */
}

h2 {
    font-family: 'Lemon', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #edf2f7; /* Texto claro */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #a0aec0; /* Texto más tenue */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #4a5568;
    border-radius: 5px;
    background-color: #1a202c;
    color: #edf2f7;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: #63b3ed; /* Azul claro */
}

input[type="checkbox"] {
    margin-right: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    font-family: 'NewSun', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #3182ce; /* Azul */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #2b6cb0; /* Azul más oscuro en hover */
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: scale(0.95);
}

.link {
    font-family: 'NewSun', sans-serif;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #63b3ed; /* Azul para el enlace */
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
    .container {
        padding: 30px;
    }

    h2 {
        font-size: 28px;
    }

    .form-group input {
        padding: 12px;
        font-size: 18px;
    }

    .button {
        font-size: 18px;
        padding: 12px;
    }
}

/* Fuentes */
@font-face {
    font-family: 'Lemon';
    src: url('../fonts/Winter\ Lemon.ttf') format('truetype');
}

@font-face {
    font-family: 'NewSun';
    src: url('../fonts/Next\ Sunday.otf') format('truetype');
}
